.container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    line-height: 1.5;
    background-color: black;
    color: white;
  }
  .leftArea {
    text-align: center;
    justify-content:center;
    width: 210px;
    align-items: center;
    align-content: center;
}
  .middleArea {
      font-size: large;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      justify-content: flex-start;
      padding: 40px;
      width: 40%;
      align-items: flex-end;
  }
  .rightArea {
        text-align: center;
      justify-content: flex-start;
      width: 210px;
      align-items: flex-end;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float:left;
    width: 200px;
  }
  
  div.gallery:hover {
    border: 2px solid white
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
  }
