.container {
  height: 80%;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}

.about {
  min-width: 510px;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: flex-start;
  width: 50%;
  line-height: 1.5;
}
.galleryArea {
  min-width: 510px;
  justify-content: flex-start;
  background-color: blanchedalmond;

}
.gal1 {
  width: 220px;
}

.gal2 {
  width: 220px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float:left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid white
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}